<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'feedback/css/styles.css' %}?{% now " U" %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Volkhov" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <section class="section">
        <div class="level">
            <div class="level-item">
                <img id="logo" src="{% static 'feedback/assets/logo.png' %} ">
            </div>
        </div>
        {% block content %}
        {% endblock %}
        </div>
    </section>
</body>