<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'feedback/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Volkhov" rel="stylesheet">
</head>

<body>
    <div>
        <img src="{% static 'feedback/assets/logo.png' %}">
    </div>
    <div>
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>