[[source]]
allow_prereleases = true
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
python-dotenv = "*"
django-environ = "*"
"psycopg2-binary" = "*"
sqlalchemy = "*"
gunicorn = "*"
django-heroku = "*"
whoosh = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"
"autopep8" = "*"
black = "*"
pylint-django = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
