@charset "utf-8";
@import "../src/node_modules/bulma/bulma.sass";

$orange: #EC6D09;
$success: black;

$primary: $orange;
$danger: $blue;
$body-background-color: black;
img#logo { 
    height: 50px;
}

form {
    border: 0px ;
}