<!-- prettier-ignore -->
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'feedback/src/dist/index.css' %}?{% now " U" %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Volkhov" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <section class="section container" id="top-container">
    <div class="level is-mobile	">
      <div class="level-left">
        <a href="{% url 'index' %}"><img
          class="level-item"
          id="logo"
          src="{% static 'feedback/assets/logo.png' %} "
        /></a>
      </div>
      <div class="level-right">
        <a
          class="level-item is-link"
          href="https://duosproject.github.io/"
          target="_blank"
          >What's DUOS?</a
        >
      </div>
    </div>
    {% block content %} {% endblock %}
  </section>
</body>
