{% extends "base.html" %} {% block content %}

<h2 class="title">Hello</h2>
<article class="">
  You likely found your way to this page after receiving an email from a
  representative of the DUOS project prompting you to fill out a survey. That's
  all that's going on here, so please return to your personal URL if you haven't
  filled out the survey yet.<br /><br />
  If you have, We appreciate your contribution to our ongoing research. You can
  learn more about the DUOS project
  <a class="is-ink" href="https://duosproject.github.io/" target="=" _blank
    >here</a
  >.
</article>

{% endblock %}
