@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato');

$orange: #EC6D09;
$success: forestgreen;
$info: #FFAA55;
$primary: $orange;
$family-sans-serif: 'Lato';

img#logo { 
    height: 30px;
}

@import "./node_modules/bulma/bulma.sass";
